/* ==================== google fonts ==================== */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --primarycolor: #f58290;
  --secondarycolor: #e2e3f0;
  --whitecolor: #ffffff;
}

.detailsform {
  border-radius: 1.2rem;
  background: transparent;
  padding: 2rem;
  display: block;
  margin: 1rem auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  box-shadow: 0 2rem 3rem #c7cbf2;
}

.form-headline {
  width: fit-content;
  margin: 0.4em auto;
}

.form-headline::after {
  content: "";
  background-color: var(--primarycolor);
  height: 3px;
  width: 3em;
  display: block;
  margin: 0.1em auto;
}

.inputfields {
  display: block;
  padding: 10px 30px;
  width: 30vw;
  /* margin: 15px auto; */
  outline: none;
  background: var(--secondarycolor);
  /* border: 1px solid var(--primarycolor); */
}

.floating-labels {
  margin: -15px 0 5px 0;
  position: relative;
}

.floating-labels i {
  position: relative;
  bottom: -29px;
  left: 10px;
  color: var(--primarycolor);
}

#showhidepassword {
  position: absolute;
  bottom: 2.2em;
  left: 90%;
  cursor: pointer;
}

.submitbtn {
  color: var(--primarycolor);
  font-weight: normal;
  text-transform: capitalize;
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid var(--primarycolor);
  margin: 1em 0;
  transition: all 300ms ease;
  cursor: pointer;
}

.submitbtn:hover {
  background: var(--primarycolor);
  color: var(--whitecolor);
}

.inputlabels {
  position: relative;
  left: 30px;
  bottom: 4.2em;
  color: gray;
  font-weight: normal;
  font-size: 12px;
  background: var(--whitecolor);
}

#namefield.invalid,
#emailfield.invalid,
#phonefield.invalid,
#passwordfield.invalid {
  border: 1px solid var(--primarycolor);
}

#errorname,
#erroremail,
#errorphone,
#errorpassword {
  color: var(--primarycolor);
  font-weight: bolder;
  position: absolute;
  right: 0em;
}
/* ========================== form submission notifications ========================== */
#formsuccessmessage {
  background: #9ff29f;
  text-align: center;
  padding: 10px;
  color: var(--whitecolor);
  font-weight: bold;
  margin: 0 0 1em 0;
  display: none;
}

#usernotregistered,
#emailiduserexists,
#formerrormessage {
  background: #f491a5;
  text-align: center;
  padding: 10px;
  color: var(--whitecolor);
  font-weight: bold;
  margin: 0 0 1em 0;
  display: none;
}

.loginregisterpagemessage {
  color: #000;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  position: relative;
  font-size: 0.9em;
}

.pagelink {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.pagelink::after {
  content: "";
  display: inline-block;
  background-color: var(--primarycolor);
  height: 3px;
  width: 1em;
  position: absolute;
  top: 1.3em;
  right: 6em;
}

.profilecontainer {
  padding: 1em 2em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  box-shadow: 0 2rem 3rem #c7cbf2;
}

#currentuser {
  background: var(--primarycolor);
  color: var(--whitecolor);
  text-align: center;
  text-transform: capitalize;
  margin: 1em 0;
}

.profilepicbox {
  text-align: center;
  margin: 1em 0;
}

.profilepic {
  height: 30%;
  width: 30%;
  object-fit: cover;
  border-radius: 50px;
  border: 2px solid var(--primarycolor);
  padding: 5px;
}
